#footer-section{
    background-color: #e8edf2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

#footer-section .internal-links{
    display: block;
    margin-bottom: 10px;
    color: #00f;
    text-decoration: none;
}

#footer-section .social-media{
    display: flex;
    align-items: center;
}

#footer-section .social-media-svg{
    width: 30px;
    margin: 0 5px; 
}

#footer-section .twitter .social-media-svg{
    width: 40px;
}

@media (min-width: 768px) {
    #footer-section{
        padding: 40px 20px;
    }

    #footer-section .social-media-svg{
        width: 50px;
        margin: 0 20px;
    }

    #footer-section .twitter .social-media-svg{
        width: 80px;
    }
}

@media (min-width: 1200px) {
    #footer-section{
        grid-area: ft;
    }
}