#footer{
    background-color: #e8edf2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

#footer .internals a{
    display: block;
    margin-bottom: 10px;
    color: #00f;
    text-decoration: none;
}

#footer .social-media{
    display: flex;
    align-items: center;
}

#footer .social-media img{
    width: 30px;
    margin: 0 5px;
    
}

@media (min-width: 768px) {
    #footer{
        padding: 40px 20px;
    }

    #footer .social-media img{
        width: 50px;
        margin: 0 20px;
        
    }

}

@media (min-width: 1200px) {
    #footer{
        grid-area: ft;
    }
}