#footer{
    background-color: #e8edf2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

#footer .social-media {
    text-align: center;
}

#footer .internals a{
    display: block;
    margin-bottom: 10px;
    color: #00f;
    text-decoration: none;


}