
#content{
    margin: 20px 0;
    border-radius: 5px;
    background-color: #e8edf2;
    padding: 10px;
}

.blog{
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
}

.blog:last-child{
    margin-bottom: 0;
}

.blog .img-wrapper {
    width: 40%;
}

.blog .description {
    width: 60%;
    padding: 0 10px;
}

.description h2, h3, p {
    margin-top: 0;
    margin-bottom: 5px;
}

.description h3{
    color: #3D4849;
    font-size: 16px;
}

/* Blog-Post.html */

#blog-post{
    margin: 10px;
}

#blog-post h2{
    margin-top: 0px;
    margin-bottom: 5px;
}

#blog-post .date{
    margin-top: 5px;
    color: #808080;
}

#blog-post .image-wrapper{
    margin: 20px 0;
    text-align: center;
}

#blog-post h3{
    margin: 20px 0;
}

#blog-post h4{
    margin: 15px 0;
}

#blog-post .underlined{
    text-decoration: underline;
}

#blog-post .important{
    font-weight: bold;
}

.address{
    margin-top: 30px;
}

#blog-post .button-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#blog-post button{
    border-radius: 15px;
    color: #fff;
    outline: none;
}

#blog-post .older-post{
    background-color: #808080;
    
}

#blog-post .newer-post{
    background-color: #008CBA;

}

@media (min-width: 768px) {
    #content{
        padding: 20px 20px 0;
    }

    #blogs{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .blog{
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }

    .blog:last-child{
        margin-bottom: auto;
    }

    /* Blog-Post.html */

    #blog-post .button-wrapper{
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}