
#content{
    margin: 20px 0;
    border-radius: 5px;
    background-color: #e8edf2;
    padding: 10px;
}

.blog{
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas:
        'image hd'
        'image date'
        'image excerpt'
        'image link';
    grid-column-gap: 10px    
}

.blog:last-child{
    margin-bottom: 0;
}

.blog .img-wrapper {
    grid-area: image;
}

.blog .headline{
    grid-area: hd;
}

.blog .date{
    grid-area: date;
    color: #3D4849;
    font-size: 16px;
}

.blog .excerpt{
    grid-area: excerpt;
}

.blog .link{
    grid-area: link;
}

.blog h2, h3, p {
    margin-top: 0;
    margin-bottom: 5px;
}


/* Blog-Post.html */

#blog-post{
    margin: 10px;
}

#blog-post h2{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

#blog-post .date{
    margin-top: 5px;
    color: #808080;
}

#blog-post .card{
    display: flex;
    align-items: center;
}

#blog-post .card .avatar-wrapper{
    min-width: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #808080;
    text-align: center;
    z-index: 1;
}

#blog-post .card .avatar-wrapper .avatar{
    position: relative;
    border-radius: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

#blog-post .card .description-wrapper{
    margin: 10px 20px;
    font-weight: bold;
}

#blog-post .image-wrapper{
    margin: 20px 0;
    text-align: center;
}

#blog-post h3{
    margin: 20px 0;
}

#blog-post h4{
    margin: 15px 0;
}

#blog-post .underlined{
    text-decoration: underline;
}

#blog-post .important{
    font-weight: bold;
}

.address{
    margin-top: 30px;
}

#blog-post .button-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#blog-post button{
    border-radius: 15px;
    color: #fff;
    outline: none;
}

#blog-post .older-post{
    background-color: #808080;
    
}

#blog-post .newer-post{
    background-color: #008CBA;

}

@media (min-width: 768px) {
    #content{
        padding: 20px 20px 0;
    }

    #blogs{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .blog:last-child{
        margin-bottom: unset;
    }

    #content .blog{
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }

    /* Blog-Post.html */

    #blog-post .button-wrapper{
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    #content{
        grid-area: main;
        margin: 50px 0;
    }
}