@import 'header.css';
@import 'sidebar.css';
@import 'mainContent.css';
@import 'footer.css';

body {
    background: url(/images/webpage_bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#layout {
    height: 100%;
    padding: 15px;
}

@media (min-width: 768px) {
    body{
        font-size: 18px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 24px;
    }
}